html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.bcground{
    background: url(assets/Hero.png) top center;
    background-size: cover;
    width: 100%;
    height: 380px;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
}
.head{
    margin: 0 auto;
}
h1{
    font-size: 40px;
    /* font-family: PingFangTC-Regular; */
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 3.98px;
    margin-bottom: 60px;

}
.head select {
    width: 35%;
    margin: 20px auto 0px auto;
    display: block;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0.7);
}
.popular{
    width: 800px;
    height: 112px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 26px;
    margin-top: -20px;
    border-radius: 5px;
    box-shadow:0px 0px 9px #cccccc;
    z-index: 1001;
}
.popular div {
    float: left;
    font-size: 18px;
}
.popular ul{
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}
.clear{
    clear: both;
}
.popular ul li{
    display: inline-block;
    width: 130px;
    height: 42px;
    margin-right: 23px;
    line-height: 3;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    /* background-color: palevioletred; */

}
.popular ul li:nth-child(1){
    background-color: #8A82CC;
}
.popular ul li:nth-child(2){
    background-color:#FFA782 ;
}
.popular ul li:nth-child(3){
    background-color:#F5D005 ;
}
.popular ul li:nth-child(4){
    background-color: #559AC8;
}
.lineline{
    color: #559AC8;
    text-align: center;
    font-size: 30px;
    line-height: 5;
    border-top:2px dotted #559AC8;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.site{
    color: #559AC8;
    text-align: center;
    font-size: 30px;
    line-height: 5;
}
.downcircle{
    width: 20px;
    height: 20px;
    border: 2px solid #559AC8;
    border-radius: 50px;
    margin: -12px auto 0px auto;
    position: relative;
}
.downcircle img{
    position: absolute;
    right: 2px;
    top: 7px;
}
.bbx{
    display: inline-block;
    width: 585px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 3px #9e9e9ed1;
    position: relative;

}
.list{
    width: 1200px;
    /* height: 500px; */
    margin: 0 auto;
    margin-bottom: 30px;
}
p{
    margin: 10px;
    margin-left: 30px;
}
p:nth-child(2){
    /* content: " "; */
    background: url(assets/icons_clock.png) no-repeat ;
    padding: 0 10px 0 20px;
}
p:nth-child(3){
    /* content: " "; */
    background: url(assets/icons_pin.png) no-repeat ;
    padding: 0 10px 0 20px;
}
p:nth-child(4){
    /* content: " "; */
    background: url(assets/icons_phone.png) no-repeat ;
    padding: 0 10px 0 20px;
}
.pic{
    width: 570px;
    height: 250px;
    /* border: 1px solid palevioletred; */
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
}
h3{
    position: absolute;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: serif;
    color: #fff;
    bottom: 10px;
}
h4{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: ghostwhite;
}
.oopp{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-weight: bold;
    background: url(assets/icons_tag.png) no-repeat;
    padding: 0 20px 0 30px;
}
.footer{
    width: 100%;
    height: 90px;
    background-color: #559AC8;
}
.footer div:nth-child(1){
    color: #fff;
    text-align: center;
    line-height: 4;
}
.footer div:nth-child(2){
    color: #F5D005;
    text-align: center;
}